body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.nav-image{
  /* background: url(./images/skyscraper02.jpg); */
  background-color: black;
  background-size: cover;
  /* background: blue; */
  color: white;
}

.leftLighting{
  background: url(./images/leftLightening.png);
  background-size: cover;
}


.black-box{
  background: url(./images/blackBox.png);
}
